altgraph==0.17.4
asgiref==3.8.1
certifi==2023.7.22
crispy-bootstrap4==2024.1
distlib==0.3.7
Django==5.0.6
django-crispy-forms==2.1
filelock==3.12.2
gunicorn==22.0.0
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
pipenv==2023.7.23
platformdirs==3.10.0
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
sqlparse==0.5.0
tzdata==2024.1