{% extends "tracker/base.html" %}
{% block content %}
    <div>
        <h1 class="text-white">Your saved workouts</h1>
        <a class="btn btn-primary mb-2" href="{% url 'template-create' %}">Create New Workout</a>
    </div>
    <!--Looks through all the template models-->
    {% for template in templates%}

        <!--Section to showcase created templates with their added exercises and reps/sets for each exercise-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Posted on {{ template.last_updated }} by</small>
                    <a class="mr-2" href="#">{{ template.author }}</a>
                    <div>
                        <a class="btn btn-primary btn-sm my-2" href="{% url 'users-add_exercises' %}">Add Exercises</a>
                        <a class="btn btn-outline-secondary btn-sm my-2" href="{% url 'template-update' template.id %}">Update</a>
                        <a class="btn btn-outline-danger btn-sm my-2" href="{% url 'template-delete' template.id %}">Delete</a>
                    </div>
                </div>

                <h2><a class="article-title" href="{% url 'template-detail' template.id %}">{{ template.name }}</a></h2>
                <small class="text-muted">Click on name to expand...</small>
                
                
                <!--Looks through all the template_exercise models-->
                {% for tempExer in template_exercise %}

                    <!--Checks if the template_exercise model has the template we're currently in-->
                    {% if tempExer.template == template %}

                        <!--Looks through all exercise models-->
                        {% for exer in exercises %}

                            <!--Checks if exercise is in the current template_exercise model-->
                            {% if tempExer.exercise == exer %}

                            <p class="article-content">{{ exer.name }}({{ exer.category}}): {{ tempExer.reps }} Reps x {{ tempExer.sets }} Sets </p>

                            {% endif %}

                        {% endfor %}

                    {% endif %}

                {% endfor %}

            </div>
        </article>
        
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}