{% extends "tracker/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h1>View Exercises</h1>
            <p>View all the available exercises.</p>
            <small class="text-muted bp-2">Click on exercise name for detailed view</small>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <h3>Sort by</h3>
            <button class="btn btn-outline-primary" type="Submit">Muscle</button>
            <button class="btn btn-outline-primary" type="Submit">Category</button>
            <button class="btn btn-outline-primary" type="Submit">Name</button>
        </div>
    </article>
    <article class="media content-section exercise-media">
        <!--Looks through all the exercise models and creates divs to show them-->
        {% for exercise in exercises%}
        <div class="exercise-box col-md-3 col-sm-6 mb-4">
            <div class="d-flex justify-content-center align-items-center">
                <img class="img-thumbnail" src={{ exercise.img.url }}>
            </div>
            <div class="d-flex justify-content-center align-items-center text-center">
                <a class="mr-2" href="#">{{ exercise.name }}</a>
            </div>
        </div>
        {% endfor %}
    </article>
    <!--Pagination section-->
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}